#wrap{
    display: block;
    width: 450px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;

}
#wrap p{
    color: white;
}
#canvas {
    display: block;
    margin-left:auto;
    margin-right: auto;
}
#wrap button{
    display: inline-block;
}

#gameover {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    padding:80px;
    z-index: 100;
    background: black;
    text-align: center;
}
#gameover h2 {
    color: red;
}