body {
    background-color: black;
    color: #141414;
}

#wrap {
    padding-bottom: 40px;
}

#magnet_container {
    position: absolute;
    bottom: 60px;
    height: 200px;
}

.magnet {
    position: absolute;
    padding: 5px 10px;
    font-size:50px;
    text-shadow: 0px 1px 0 #242424, 1px 0px 0 #242424,
    1px 2px 0 #242424, 2px 1px 0 #242424,
    2px 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 10;
}